#leftContent #contents{
	padding:136px 0 70px 0;
	width: 100%;
}

#leftContent #contents .wrap {
	width: 740px;
	margin: 0 auto;
}

#leftContent #contents .wrap .title {
	margin-bottom: 15px;
}

#leftContent #contents .wrap .leadText {
	margin-bottom: 30px;
}

#leftContent #contents .wrap #aboutWrap {
	background: url(../img/ttlAbout.png) no-repeat #0096c8 21px 50%;
	margin-bottom: 60px;
}

#leftContent #contents .wrap #aboutWrap .aboutText {
	margin: 0 20px 0 140px;
	padding: 24px 0 24px 20px;
	color: #FFF;
	border-left: 1px solid #fff;
	line-height: 170%;
}

#leftContent #contents .dateWrap {
	width: 740px;
	margin: 45px auto 80px;
}

#leftContent #contents .lastWrap {
	margin: 45px auto 0;
}


#leftContent #contents .dateWrap .dayContent {
	float: right;
	background: url(../img/bgContent.png) repeat-y -1px 0;
	width: 650px;
	position: relative;
}

#leftContent #contents .dateWrap .section {
	opacity: 0.1;
}

#leftContent #contents .dateWrap .next {
	padding-bottom: 30px;
}

#leftContent #contents .dateWrap .dayContent .time {
	position: absolute;
	top: 30px;
	left: 15px;
}

#leftContent #contents .dateWrap .dayContent .usDate {
	position: absolute;
	top: -2px;
	left: 82px;
}

#leftContent #contents .dateWrap .dayContent .usTime {
	position: absolute;
	top: -2px;
	left: 196px;
}

#leftContent #contents .dateWrap .dayContent .dateBaloon {
	background: url(../img/frameBg.png) no-repeat 0 16px;
	margin: 19px 0 0 76px;	
}

#leftContent #contents .dateWrap .dayContent .dateBaloon h3 {
	margin: 8px 0 12px 30px;
	color: #0096c8;
	font-size: 108%;
	font-weight: bold;
}

#leftContent #contents .dateWrap .dayContent .dateBaloon .twitter {
	background: url(../img/iconTwitter.png) no-repeat 0 50%;
	padding-left: 24px;
}

#leftContent #contents .dateWrap .dayContent .dateBaloon p {
	clear: both;
	margin: 5px 30px 10px;
	color: #555;
	line-height: 170%;
}

#leftContent #contents .dateWrap .dayContent .dateBaloon p img {
	float: right;
	margin: -27px -10px 5px 20px;
}

#leftContent #contents .dateWrap .dayContent .dateBaloon .frameBtm {
	clear: both;
	height: 16px;
	vertical-align: bottom;
}

#leftContent #contents .dateWrap .dayContent .dateBaloon a {
	clear: both;
	font-size: 90%;
	margin-left: 30px;
	padding-left: 10px;
	width: auto;
	background: url(../img/linkArrow.png) no-repeat left -1px;
	color: #0096c8;
}

#leftContent #contents .dateWrap .dayContent .dateBaloon a:hover {
	text-decoration: underline;
}

#leftContent #contents .dateWrap .dayContent p.pLower {
	padding: 30px 0 0 0;
}

#leftContent #contents .dateWrap .day {
	width: 90px;
	float: left;
}

#leftContent #contents .dateWrap hr {
	margin: 25px 25px 25px 25px;
	border-style: dotted;
}


.sepBaloon{
	width:570px;
}
.sepBaloon .sepLeft{
	padding-left:30px;
	float:left;
	width:360px;
	text-align:left;
}
.sepBaloon .sepLeft p{
	margin-left:0 !important;
	margin-right:0 !important;
	padding-left:0 !important;
	padding-right:0 !important;
}
.sepBaloon .sepLeft a{
	margin-left:0 !important;
	padding-left:0 !important;
	margin-right:0 !important;
	padding-right:0 !important;
}

.sepBaloon .sepRight{
	margin-right:20px;

}

.sepBaloon .sepRight a{
	margin:0 !important;
	background:none !important;
}

.sepBaloon img {
	margin-bottom:5px;
	float:right;
}