.normal {  font-size: 14px; line-height: 18px}
.s_small {  font-size: 12px; line-height: 16px}
.s_small2 {  font-size: 12px; line-height: 20px}
.msmall {  font-size: 10px}
.msmall1 {  font-family: "‚l‚r ‚o–¾’©", "×–¾’©‘Ì"; font-size: 12px; line-height: 18px}
.msmall2 {  font-family: "‚l‚r ‚o–¾’©", "×–¾’©‘Ì"; font-size: 12px; line-height: 20px}
.mnormal {  font-family: "‚l‚r ‚o–¾’©", "×–¾’©‘Ì"; font-size: 18px; line-height: 20px}
.normal1 {  font-size: 14px; line-height: 22px}
.normal2 { font-size: 18px; line-height: 22px }
