.contentsWrap .wrap .main .con01 {
	width: 644px;
	height: 630px;
	margin: 35px auto 0;
	text-align: left;
	position: relative;
}
.contentsWrap .wrap .main .con01 .btnTop {
	position: absolute;
	top: -10px;
	left: 0px;
}

.contentsWrap .wrap .main .con01 .logo {
	position: absolute;
	top: 97px;
	left: 0px;
}

.contentsWrap .wrap .main .con01 .mainPhoto {
	position: absolute;
	top: 57px;
	left: 292px;
}

.contentsWrap .wrap .main .con01 .text {
	position: absolute;
	top: 392px;
	left: -1px;
}

.contentsWrap .wrap .main .con01 .copyright {
	width: 644px;
	position: absolute;
	top: 595px;
	left: 0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 77%;
	text-align: center;
}

.contentsWrap .wrap .main .con02 {
	width: 770px;
	margin: 0 auto;
	text-align: left;
	position: relative;
}


.contentsWrap .wrap .main .con02 .ttlScreenShot {
	padding: 165px 0 25px;
}

.contentsWrap .wrap .main .con02 .con02list {
	clear: both;
	padding: 0;
	margin: 0 auto 0;
	width: 770px;
	list-style-position:outside;
	list-style: none;
}

.contentsWrap .wrap .main .con02 .con02list li {
	float: left;
	margin: 0 7px 0 0;
	display: block;
	position: relative;
	font-weight: bold;
	height: 120px;
}

.contentsWrap .wrap .main .con02 .con02list li div {
	padding-top: 3px;
	font-family: Verdana, Geneva, sans-serif;
	font-size:93%;
	text-align: center;
}

.contentsWrap .wrap .main .con02 .ttlMovie {
	position: absolute;
	top: 38px;
	left: 0;
}

.contentsWrap .wrap .main .con02 .mov {
	position: absolute;
	top: 0px;
	left: 193px;
}

.contentsWrap .wrap .main .con02 .btnIllust1 {
	position: absolute;
	top: 60px;
	left: 225px;
}

.contentsWrap .wrap .main .con02 .btnIllust2 {
	position: absolute;
	top: 60px;
	left: 314px;
}

.contentsWrap .wrap .main .con02 .btnIllust4 {
	position: absolute;
	top: 60px;
	left: 525px;
}
.contentsWrap .wrap .main .con02 .ttlIllust {
	position: absolute;
	top: 12px;
	left: 226px;
}

.contentsWrap .wrap .main .con02 .btnIllust3 {
	position: absolute;
	top: 60px;
	left: 427px;
}

.ttlSpec {
	margin-bottom: 35px;
}

#specTable td {
	border-top: #8aaab8 1px solid;	
	padding: 25px 5px;

}

#specTable .ttl {	
	width: 145px;
}

#specTable li {
	list-style: outside;
	margin-left: 18px;
}