@charset "Shift_JIS";

/*--------------------------------------

	Text Module

---------------------------------------*/

h1,
h2,
h3,
h4,
p {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: "ＭＳ ゴシック", "Osaka－等幅";	
}


/*--------------------------------------

	indent-text

--------------------------------------*/

.far {
	font-size: 0.1%;
	line-height: 1%;
	text-indent: -9999px;
}

/*--------------------------------------

	text size_color...

--------------------------------------*/

.text1 {
	font-size: 12px;
	color: #313131;
	line-height: 1.8;
}