
.hdrBG {
	display: none;
}
.ftrBG {
	display: none;
}
 
#ftrWrap .naviBG {
	display: none;
}
#ftrWrap  {
	background-color: #efefef;
}


#title .titleMain {
	margin: 17px 20px 0 20px;
}
#title .titleMes {
	padding-left: 20px;
}