.ds_e {  font-family: "Times New Roman", "Times", "serif"; font-size: 14px; line-height: 20px}
.bigsize {  font-family: "Times New Roman", "Times", "serif"; font-size: 20px; line-height: 150%}
.smallsize {  font-family: "Times New Roman", "Times", "serif"; font-size: 12px; line-height: 150%}
