@charset "Shift_JIS";

#interview{
	padding-top: 60px;
}

.header{
	width: 100%;
	min-width: 960px;
	height: 162px;
	text-align: center;
}
.header .lineuptitle{
	padding: 46px 0 13px 0;
}

.content{
	width: 1146px;
	margin: 0 auto;
	overflow: hidden;
}
.content .soft{
	float: left;
}
.content .soft .title{
	width: 100%;
	height: 62px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.content .soft .title img{
	position: absolute;
	left: 50%;
	margin: 0 0 0 -191px;
}

.content .soft .imgwrap{
	position: relative;
	width: 100%;
	overflow: hidden;
}
.content .soft .imgwrap .imghover{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 500px;
	background-color: #FFF;
}
.content .soft .imgwrap .imghover img{
	width: 100%;
	height: auto;
}
.content .soft .imgwrap .texthover{
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -15px 0 0 -76px;
}

.content .soft .img img{
	width: 100%;
	height: auto;
}
@media screen and (min-width: 1921px) {
	.content{
		width: 100%;
		margin: 0 auto;
	}
	.content .soft{
		width: 20%;
	}
}
@media all and (max-width: 1920px) {
	.content{
		width: 100%;
		margin: 0 auto;
	}
	.content .soft{
		width: 25%;
	}
}
@media all and (max-width: 1527px) {
	.content{
		width: 100%;
		margin: 0 auto;
	}
	.content .soft{
		width: 33.33%;
	}
}
@media all and (max-width: 960px) {
	.content{
		width: 960px;
		margin: 0 auto;
	}
	.content .soft{
		width: 320px;
	}
}